*, *:before, *:after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    background-color: rgba(0,0,0,0);
    height: 2px;
    width: 2px;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
    border-radius: 0 0 8px 0;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(130,130,130,.7);
    border-radius: 4px;
}
a {
    color: #8caf77;
    text-decoration: none;
}
html {
    font-weight: 100;
    font-family: 'Lato';
}

.bak {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.bak, body {
    height: 100%;
    background-size: cover;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.gobal {
    position: relative!important;
    padding-top: 52px;
    overflow-x: hidden;
}
.page {
    margin-top: 30px;
    flex: 1;
    min-width: 0;
}
.side {
    width: 190px;
    flex-shrink: 0;
    margin-right: 50px;
}
.side-block {
    background: 0 0;
    height: 1px;
    padding: 10px 0px;
}
.side-container {
    display: flex;
}
.side-info {
    display: block;
    border: 0;
    width: auto;
    margin: 0;
    padding: 0;
    min-width: 0;
    float: none;
    position: static;
    background: 0 0;
    box-shadow: none;
    top: 100%;
    left: 0;
    z-index: 1030;
    border-radius: 4px;
    list-style: none;
    text-align: left;
    color: #111;
    font-size: 13px;
    line-height: 1.5;
}
.side-item {
    padding: 5px 0 5px 35px;
}
.side-top {
    margin: 60px 0px;
}
.side-tt {
    background: 0 0;
    color: #bae083;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 0 10px 50px;
}
.sub {
    border-top: none;
    background-color: rgba(255,255,255,.9);
    max-width: 1100px;
    margin: 40px auto;
    border-radius: 4px;
}
.tt {
    margin-bottom: 65px;
}
@media (min-width: 768px) {
    .container {
        padding-bottom: 20px;
    }
}
@media (min-width: 1100px) {
    .container {
        width: 1100px;
    }
}
