:root {
    --start-anchor: 28px;
    --target-anchor: 119px;
}
@keyframes moveAnchor {
    0% {left: var(--start-anchor);}
    50% {left: var(--target-anchor);}
	100% {left: var(--target-anchor);}
}
*, :after, :before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}
a {
    color: #282a2d;
    outline: 0!important;
    text-decoration: none;
}
body {
    background: #f9f9f9;
}
button, input {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    background-color: rgba(0,0,0,0);
    height: 2px;
    width: 2px;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
    border-radius: 0 0 8px 0;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(130,130,130,.7);
    border-radius: 4px;
}
.anchor {
    background-color: #374151;;
    border-radius: 200px;
    height: 4px;
    bottom: -8px;
    transition: .25s;
    position: absolute;
}
.anchor-fff {
    background-color: #fff !important;
}
.block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.cd {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.cd-block {
    margin-bottom: 1.5rem!important;
    background: #fff;
    /*border-width: 0;*/
    box-shadow: 0px 0px 20px -5px rgb(158 158 158 / 20%);
    transition: background-color .3s;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.golbal {
    width: 100%;
    /*width: 100vw;*/
    height: 100vh;
    display: block;
    background-image: url("../img/nept.jpg");
    max-height: 100%;
}
.golbal, body, html {
    color: #374151;
    background-color: transparent;
    transition: all .2s ease;
    margin: 0;
    padding: 0;

}
.icon {
    font-family: "iconfont";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
}
.index {
    padding: 0 50px 0 110px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.listLite {
    width: 70px;
    position: relative!important;
    display: inline-table;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    top: inherit;
    padding: inherit;
    background: none!important;
    border-radius: inherit;
    box-shadow: none!important;
}
.listLite label {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
    padding: 2px 0;
    cursor: pointer;
    transition: .3s;
}
.listLite label span {
    padding: 10px 20px;
}
.listLite-fff {
    color: #fff !important;
}
.listMenu {
    position: relative;
    top: inherit;
    left: inherit;
    z-index: inherit;
    width: auto;
    margin-bottom: 15px;
}
.ma {
    flex-direction: column;
    height: inherit;
    display: flex;
}
.noneOl {
    outline: 2px solid transparent;
}
.options {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.option-body {
    
}
.option-content {
    padding: .938rem;
}
.option-info {
    align-items: center!important;
    display: flex!important;
}
.op-des {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block!important;
    word-break: break-all;
    font-size: .75rem!important;
    color: #6c757d!important;
}
.op-image {
    max-height: 100%;
    vertical-align: unset;
    border-style: none;
}
.op-img {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
    flex: none;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-right: .5rem!important;
    align-items: center!important;
}
.op-text {
    overflow: hidden;
    padding-right: 5px;
    flex: 1 1 auto!important;
}
.op-tt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: .875rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.sdbar-a {
    height: 74px;
}
.sdbar-b {
    flex: 1 1 auto!important;
}
.sdbar-b-sub ul {
    margin: 0;
    padding: 0;
}
.sdbar-c {
    position: absolute;
    bottom: 0;
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.search {
    width: inherit;
    height: 100%;
}
.sidebar {
    width: 60px;
    list-style: none;
    position: fixed;
    font-size: .875rem;
    height: 100vh;
    z-index: 1081;
    opacity: 1!important;
    color:initial;
    transition: color .3s,background-color .3s
}
.sidebarinner {
    width: inherit;
    margin: 0;
    pointer-events: inherit;
    display: flex;
    flex-direction: column;
}
.sidebar-icon {
    font-size: 1.5em!important;
    line-height: .75em;
    vertical-align: -.125em;
    width: 1.15em;
    text-align: center;
}
.sidebar-in {
    background: #f0f2f4;
}
.sidebar-in:before {
    transition: .3s;
}
.sidebar-item {
    position: relative;
    display: block;
}
.sidebar-item a {
    line-height: 50px;
    max-height: 50px;
}
.srFl {
    margin-bottom: 1rem;
    padding: .5rem;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(209,213,219,1);
    border-radius: 9999px;
    display: flex;
}
.srInput {
    width: 30.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: rgba(0,0,0,0);
    color: #fff;
}
.sr-icon {
    margin-left: .5rem;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1.2em;
    height: 1.2em;
    background: url("../img/sr.svg")
}
.tags {
    flex: 1 1 auto!important;
    display: flex!important;
}
.tag-icon {
    font-size: 1.5em!important;
    line-height: .75em;
    vertical-align: -.125em;
    margin-right: .25rem
}
